@import url('https://fonts.googleapis.com/css2?family=Inter&family=Share+Tech+Mono&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-family: Inter, sans-serif;
}

button {
    font-size: 30px;
    font-family: 'Share Tech Mono', monospace;
    border-radius: 20px;
}

button:hover {
    opacity: 0.9;
}

.grid-container {
    background-color: black;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(4, 1fr);
    border: 5px solid rgb(4, 4, 4);
    border-radius: 8px;
    padding: 5px;

    gap: 8px;
}

.operator {
    background-color: rgb(157, 212, 255);

}

.btn {
    width: 90px;
    height: 85px;
    border: 1px solid black;
}
.equals {
    background-color: rgb(233, 173, 121);
}

.top {
    background-color: rgb(162, 162, 162);
}

.num {
    background-color: #f5f5f5;
    border-color: rgb(233, 173, 121) ;
}

#display {
    grid-column-start: 1;
    grid-column-end: 5;
    background-color: white;
    border-radius: 8px;
    text-align: right;
    font-size: 50px;
    font-family: 'Share Tech Mono', monospace;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 10px;
}

#stretch {
    width: 180px;
    grid-column-start: 1;
    grid-column-end: 3;
}

.footer {
    justify-self: flex-end;
}